// Body
// Color pallete https://colorhunt.co/palette/151393
$color1: #f2f6f5;
$color2: #c8dad3;
$color3: #93b5b3;
$color4: #63707e;
$text-color: #222;
// $body-bg: #f8fafc;

// Typography
$font-family-sans-serif: sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
