// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#left-navbar,
.navbar-laravel {
    background-color: $color1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html,
body {
    background-color: $color2;
    height: 100vh;
}

div#app,
div#app>div,
div#app>div>div,
div#app>div>div>nav#left-navbar,
div#app>div>div>nav#left-navbar>div,
div#app>div>div>nav#left-navbar>div>div {
    height: 100vh;
}

div#app>div>div>nav#left-navbar,
div#app>div>div>nav#left-navbar>div {
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 1.5rem;
}

div#app>div>div>nav#left-navbar>div {
    padding-top: 1.5rem;
}

div#app>div>div>nav#left-navbar>div,
div#app>div>div>nav#left-navbar>div>div,
div#app>div>div>nav#left-navbar>div>div>ul {
    display: flex;
    flex-direction: column;
    margin-top: 0px !important;
}


div#app>div>div>nav#left-navbar>div,
div#app>div>div>nav#left-navbar>div>div {
    justify-content: start;
    align-items: start;
}

nav {
    margin: 0px;
    padding: 0px;
}

div#excluding-sidebar {
    margin-left: 20%;
    width: 80%;
    position: absolute;
    top: 0;
}

div#lower-nav-links {
    margin-top: 10vh;
}

div#home-right-panel-top {
    height: 35vh;
}

div#home-right-panel-bot {
    height: 48vh;
}

div#home-left-panel {
    height: 84vh;
}

label {
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: $text-color;
}

.unset {
    all: unset;
}


#left-navbar *>a {
    color: $text-color;
    font-size: 1rem;
}

button.unset,
p.card-text>a,
p.card-text *>a,
div.card-body>a,
div.card-body *>a {
    border-bottom: 1px solid $color4;
}

a:hover {
    text-decoration: none;
}

a.red-link {
    color: $red !important;
}

a.red-link:hover {
    color: red !important;
}

.active-nav-link {
    background-color: $color2;
}

#lower-nav-links {
    background-color: $color2;
}

// burg and logic for hiding left navbar

#burg {
    height: 1rem;
}

#burg-container {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#burg-container:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

#excluding-sidebar.expanded {
    margin-left: 0;
    width: 100%
}

// responsive css

#burg-close {
    position: fixed;
    top: .4rem;
    right: .4rem;
    padding-top: 1.5rem;
    z-index: 2;
    width: 2rem;
    display: none;
}

@media only screen and (max-width: 600px) {
    div#home-right-panel {
        padding-left: 0;
        padding-right: 0;
    }

    div#home-left-panel,
    div#home-right-panel-top,
    div#home-right-panel-bot {
        height: auto;
        padding-bottom: 1rem;
    }

    div#home-right-panel,
    div#home-left-panel {
        width: 95%;
    }

    div#home-right-panel-top,
    div#home-right-panel-bot {
        margin-top: .4rem;
        margin-bottom: .4rem !important;
        height: auto;
    }

    div#app>div>div>nav#left-navbar,
    div#app>div>div>nav#left-navbar>div {
        /* Set the width of the sidebar */
        width: 100%;
    }

    div.card-body {
        padding: 0.25rem !important;
    }

    #burg-close.active {
        display: inline !important;
    }
}
